body {
    background: #2D2241;
    color: #fff;
}

.box {
    background: rgba(255, 255, 255, 0.4);
    display: inline;
    /*blok do konca frazy*/
}

a {
    display: block;
    /*blok na całą linię i jest domyślny*/
    background: rgba(255, 255, 255, 0.4);
}

.box-wh {
    background: rgba(255, 255, 255, 0.4);
    width: 100px;
    height: 100px;
}

.inl-block {
    background: rgba(255, 255, 255, 0.4);
    width: 100px;
    height: 100px;
    display: inline-block;
    /*inline-block mozna customizować, zwykłe inline nie*/
}

.max-wh {
    background: rgba(255, 255, 255, 0.4);
    max-width: 600px;
    /*szerokość ruchoma, mzienia sie wraz z rozmiarem strony*/
    /*zwykłe width jest sztywne i sie nie dopasowuje*/
}


/*odciecie*/

.over {
    background: rgba(255, 255, 255, 0.4);
    min-width: 600px;
    height: 400px;
    overflow: hidden;
    /*overflow: visible;
    overflow: auto; - dodaje scroll w elemencie*/
}

.scroll {
    background: rgba(255, 255, 255, 0.4);
    min-width: 600px;
    height: 400px;
    overflow: auto;
    /*dodaje scroll w elemencie*/
}

.pad {
    background: rgba(255, 255, 255, 0.4);
    overflow: auto;
    width: 200px;
    height: 200px;
    padding: 10px;
    /*margines boxu, padding jest dodawany do wielkosci boxa*/
}

.cus-pad {
    background: rgba(255, 255, 255, 0.4);
    overflow: auto;
    width: 200px;
    height: 200px;
    padding-top: 3px;
    padding-right: 4px;
    padding-bottom: 5px;
    padding-left: 6px;
    /* == padding: 3px 4px 5px 6px;*/
    /*padding: 20px 30px - 20px gora, dol i 30px prawo, lewo*/
}

.border {
    background: rgba(255, 255, 255, 0.4);
    overflow: auto;
    width: 200px;
    height: 200px;
    border-width: 3px;
    border-style: solid;
    border-color: #fe201a;
    /* == border: 3px solid #fe201a*/
}

.cus-border {
    background: rgba(255, 255, 255, 0.4);
    overflow: auto;
    width: 200px;
    height: 200px;
    border-top: 3px solid hotpink;
    border-right: 5px dashed green;
    border-bottom: 10px dotted blue;
    border-left: 20px solid darkcyan;
}

.radius-border {
    background: rgba(255, 255, 255, 0.4);
    overflow: auto;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 10px solid #fff;
    border-radius: 50%;
    margin: 50px;
}

.auto-fit {
    background: rgba(255, 255, 255, 0.4);
    overflow: auto;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 10px solid #fff;
    border-radius: 50%;
    margin: 10px auto;
}

.centered {
    margin: 0 auto;
    background: hotpink;
    width: 60px;
}

.all-in-box {
    background: rgba(255, 255, 255, 0.4);
    overflow: auto;
    width: 200px;
    height: 300px;
    padding: 50px;
    border: 10px solid #fff;
    margin: 10px;
    box-sizing: border-box;
}