body {
    background: #393E41;
}

section {
    background: #393E41;
}

h1 {
    color: blue;
}

h2 {
    color: #6C91BF;
}

p {
    color: whitesmoke;
}

.hotpink-header {
    color: #F75C03;
}

#hotpink-id {
    color: #F75C03;
}

a {
    color: #D4DF9E;
}

nav a {
    color: #00CC66;
}