body {
    background: #393E41;
}

main {
    width: 1000px;
    overflow: auto;
    margin: 10px auto;
}

section {
    background: #393E41;
}

h1 {
    color: blue;
}

h2 {
    color: #6C91BF;
}

p {
    color: whitesmoke;
}

.main-heading {
    color: thistle;
}

.hotpink-header {
    color: #F75C03;
}

#hotpink-id {
    color: #F75C03;
}

a {
    color: #D4DF9E;
}

nav a {
    color: #00CC66;
}

.navigation {
    background: #392759;
    padding: 16px;
    border-radius: 8px;
}

.navigation__link {
    color: #fff;
    display: inline-block;
    margin-right: 20px;
}

.navigation__link-homepage {
    background: yellow;
    color: #000;
}

.week-summary {
    padding: 16px;
    border: #ccc 1px solid;
    margin-bottom: 16px;
}

.week-summary__description {
    color: #ECBA82;
}

.week-summary__title {
    color: #6874E8;
}

footer {
    background: black;
    color: white;
    font-size: 14px;
}